!!! 5
%html{:lang => "en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html;charset=utf-8"}
    %title= settings.app_name
    = stylesheet :application
  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => url("../")}= "RDFa"
          %div.nav-collapse
            %ul.nav
              %li
                %a{:href => '/docs/'}= "Documentation"
              %li
                %a{:href => '/tools/'}= "Tools"
              %li.active
                %a{:href => '/dev/'}= "Developers"
          %div.navbar-text.pull-right
            - if email
              %p.email
                Logged in as
                %span.email
                  = email
                %a{:href => '/test-suite/logout'}
                  (logout)
            - else
              = render_login_button(callback)
    %div.modal.hide.fade#source-modal
      %div.modal-header
        %a.close{"data-dismiss" => 'modal'}= 'x'
        %h3= "Test source"
      %div.modal-body
        Loading Source ...
    %div.container
      = yield
      %footer
        %p
          Website content, unless otherwise noted, is released into the public domain.
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
    = javascript :application
