%span{:id => "unit-test-anchor-#{num}",
      :style => style,
      :onclick => "javascript:checkUnitTest(#{num}, '#{doc_url}', '#{sparql_url}', '#{expected_result}')"}
  %span{:id => "unit-test-result-#{num}"}
    = status