%div.row
  %div.span6
    %div.btn-group#versions{"data-toggle" => "buttons-radio"}
      %button.btn.versions.rdfa1_0{:href => "#", "data-version" => "rdfa1.0", "data-selector" => "rdfa1_0"}
        RDFa 1.0
      %button.btn.versions.rdfa1_1.active{:href => "#", "data-version" => "rdfa1.1", "data-selector" => "rdfa1_1"}
        RDFa 1.1
      %button.btn.versions.rdfa1_1_vocab{:href => "#", "data-version" => "rdfa1.1-vocab", "data-selector" => "rdfa1_1_vocab"}
        RDFa 1.1 with Vocabulary Expansion
  %div.span6#processor
    %div.row
      %div.span2.dropdown
        %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
          Processor
          %b.caret
        %ul.processors.dropdown-menu
      %div.span4
        %form
          %input.search-query.span4#processor-url{:type => "text", :placeholder => "Processor URL"}
%div.row
  %div.span10
    %div.btn-group#host-languages{"data-toggle" => "buttons-radio"}
      %button.btn.version.rdfa1_1.suite.html4{"data-suite" => "html4"}= "HTML4"
      %button.btn.version.rdfa1_1.suite.html5{"data-suite" => "html5"}= "HTML5"
      %button.btn.version.rdfa1_0.rdfa1_1.suite.svg{"data-suite" => "svg"}= "SVG"
      %button.btn.version.rdfa1_0.rdfa1_1.suite.xhtml1{"data-suite" => "xhtml1"}= "XHTML1"
      %button.btn.version.rdfa1_1.suite.xhtml5{"data-suite" => "xhtml5"}= "XHTML5"
      %button.btn.version.rdfa1_0.rdfa1_1.rdfa1_1_vocab.suite.xml1.active{"data-suite" => "xml1"}= "XML1"
  %div.span2
    %button.btn.btn-primary#run-all{"data-loading-text" => "Running", :autocomplete => "off"}
      Run All Tests
%div.row#test-progress
  %div.span10
    %div.progress.progress-success
      %div.bar
  %div.span2
    %div.test-status
      %div
        Total:
        %span.test-total
      %div
        Passed:
        %span.test-passed
      %div
        Failed
        %span.test-failed
%div.row
  %h2= "Overview"
  %noscript
    %p
      WARNING: You need Javascript enabled to use this web page!
  %p
    The RDFa Test Suite provides an interactive mechanism to check the 
    conformance of an RDFa processor and SPARQL query engine. 
    This service is intended for anybody that wants to see how RDFa works as 
    well as developers that want to do conformance testing on their own 
    RDFa/SPARQL implementations.
  %p
    There are several things that you can do on this web page:
  %ul
    %li
      To run a unit test, click on the
      %button.btn.btn-primary= "Test"
      link.
    %li
      To see the details of a unit test, click on the
      %button.btn.btn-info= "details"
      link.
    %li
      You can execute every unit test by clicking on the
      %button.btn.btn-primary= "Run All Tests"
      button.
    %li
      You can modify the Test Suite, Approval Status, RDFa Extractor Service 
      and SPARQL Engine URLs.
%div.row
  %h2= "Status"
  %ul
    %li
      These tests are in active development by the
      %a{:href => "http://www.w3.org/2010/02/rdfa/"}
        RDF Web Applications Working Group
      at the
      %a{:href => "http://www.w3c.org"}
        World Wide Web Consortium
    %li
      These tests may be used to check conformance for an RDFa 1.1 processor.
    %li
      The tests are subject to change at any point between now and June 2011.
    %li
      All bugs, suggestions and thoughts about The RDFa Test Suite
      should be sent to the
      %a{:href => "http://lists.w3.org/Archives/Public/public-rdfa-wg/"}
        RDFa Working Group mailing list.
%div#tests

// Templates for Underscore.js rendering
// Bits inside of "<%= %>" are expanded in Javascript context, not Haml
%script#test-template{:type => "text/template"}
  %div.row
    %div.span12
      %div.row
        %div.span1
          %button.btn.btn-primary.test{"data-loading-text" => "Running", :autocomplete => "off"}
            Test
        %div.span8
          %span.test-num
            Test <%= num %>
          %span.classification
            (<%= classification %>):
          %span.description
            <%= description %>
        %div.span3.pull-right
          %button.btn.btn-info.details{"data-loading-text" => "Loading details ...",
                                       "data-complete-text" => "details",
                                       :autocomplete => "off"}="details"
          %button.btn.btn-info.source{"data-loading-text" => "Loading tests ...",
                                      "data-complete-text" => "source",
                                      :autocomplete => "off"}="source"
%script#details-template{:type => "text/template"}
  %a.close="x"
  %h3
    Source Document
  %pre
    %div<
      <%- doc_text %>
  %em.doc_url
    Source
    %a
      <%= doc_url %>
  %h3
    Turtle (Reference Implementation Triples)
  %pre
    %div<
      <%- ttl_text %>
  %h3
    Extracted
  %pre
    %div<
      <%- extracted_text %>
  %em.extract_url
    Source
    %a
      <%= extract_url %>
  %h3
    SPARQL Test
  %pre
    %div<
      <%- sparql_text %>
  %em.sparql_url
    Source
    %a
      <%= sparql_url %>
      